.items-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-left: 15px;
}

.items-title{
    font-style: italic;
    font-stretch: ultra-expanded;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 4px;
    text-align: center;
    color: rgb(234, 231, 234);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(41, 50, 50);
    border: 10px solid rgb(54, 25, 54);
    border-radius: 2px;
    padding: 7px;
}

/* Make tems responsive*/

@media only screen and (max-width:576px){
    .items-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 577px) and(max-width:992px) {
    .items-container{
        grid-template-columns: repeat(2, 1fr);
    }
}